{% include 'navbar.html' %} 
{% load static %} 
{% block content %}

<div class="contenedor">
    
<div class="row">

    <h2 class="col display-4 my-3">Articulo</h2>

</div>

<div class="row">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movimiento de Stock</title>
        <style>
            /* Estilos para el modal */
            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.4);
            }
    
            /* Estilos para el contenido del modal */
            .modal-content {
                background-color: #fefefe;
                margin: 15% auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
            }
    
            /* Estilos para el botón de cerrar */
            .close {
                color: #aaa;
                float: right;
                font-size: 15px;
                font-weight: bold;
            }
    
            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
    </head>




    <div style="padding-right: calc(var(--bs-gutter-x)* 8.5)" class=" col d-flex justify-content-end align-items-end mb-3">

        <form style="margin-left: 0" method="GET">
                <div class="input-group">
                    <select id="search" value="{{ query }}" name="q">
                    <option value="" selected disabled>Selecciona Ubicación</option>
                    {% for ubicacion in ubicaciones %}
                        <option value="{{ ubicacion }}">{{ ubicacion }}</option>
                    {% endfor %}
                    </select>
                    <button style="margin-left: calc(var(--bs-border-width)* 2);" class="lupa" type="submit"><span class="material-symbols-outlined">search</span></button>
                </div>
        </form>  

        <div class="d-flex justify-content-end align-items-end">
            <a type="button" class="botonPrimario" id="modal-btn">Mov. de Stock</a>            
        </div>

        <!-- SE AGREGA MODAL PARA EL MOVIMIENTO DE STOCK -->

        <div id="myModal" class="modal">
            <div style="top: 34%; y left: 50%;transform: translate(11%, -67%); position: fixed" class="modal-content">
                <span class="close">&times;</span>
                <h1>Movimiento de Stock</h1>
                    <div>

                        <!--SE AGREGAN 1 DESPLEGABLE -->

                        <form id="filtroFormSearch">
                            <div style="margin-left: 0; display: inline-block;" method="GET">
                                <div class="input-group">
                                    <select id="filtro1" value="{{ query }}" name="q">
                                    <option value="" selected disabled>--</option>
                                    {% for ubicacion in ubicaciones %}
                                        <option value="{{ ubicacion }}">{{ ubicacion }}</option>
                                    {% endfor %}
                                    </select>
                                    <button id="filtrarTablaBtn" type="submit" class="btn btn-primary">Filtrar Tabla</button>
                                </div>
                            </div>
                        </form>       
                    </div>
                        <!--AGREEGAMOS TABLA AL MODAL, ES LA MISMA QUE SE VE EN lista_articulos -->

                    <table class="table table-striped table-hover" id="miTabla" data-bs-theme="light">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Stock</th>
                            </tr>       
                        </thead>
                        <tbody>
                            {% for articulo_modal in articulo %} 
                            <tr class="filas">
                                <td>{{ articulo_modal.codigo }}</a></td>
                                <td>{{ articulo_modal.descripcion }}</td>
                                <td>{{ articulo_modal.precioVenta }}</td>
                                <td>{{ articulo_modal.stock }}</td>
                
                                <td class="d-flex justify-content-end align-items-end"><a class="botonTerciario" href="/articulos/articuloModif/{{ articulo_modal.id }}"> Modificar</td>
                                <td><a class="botonSecundario" href="/articulos/articuloBorrar/{{ articulo_modal.id }}">Borrar</a></td>
                            {% endfor %} 
                        </tbody>
                    </table>
                
                    <div class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <a class="botonPrimario" href="?page=1">Primera</a>
                            <a class="botonPrimario" href="?page={{ page_obj.previous_page_number }}">
                                Anterior
                            </a>
                        {% endif %}
                    
                        <span class="current-page btn btn-outline-light disabled text-primary mb-3">
                            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </span>
                    
                        {% if page_obj.has_next %}
                            <a class="botonPrimario" href="?page={{ page_obj.next_page_number }}">
                                Siguiente
                            </a>
                            <a class="botonPrimario" href="?page={{ page_obj.paginator.num_pages }}">
                                Última
                            </a>
                        {% endif %}
                    </div>       

            </div>
            
        </div>

            <!-- ACA SE AGREGO FUNCIONES DEL MODAL COMO ABRIR Y CERRAR UN MODAL. -->

        <script>            
            
            // Obtener referencias a los elementos HTML
            var modalBtn = document.getElementById("modal-btn");
            var modal = document.getElementById("myModal");            
            var mostrarFila = true;

            var filtro1 = document.getElementById("filtro1");
            var tabla = document.getElementById("miTabla");
            var filtrarTablaBtn = document.getElementById("filtrarTablaBtn");

            // Agregar eventos de cambio para los selectores y el campo de búsqueda
            filtro1.addEventListener("change", filtrarTabla);
            document.getElementById("filtroFormSearch").addEventListener("submit", function(event) {
                event.preventDefault(); // Evitar que se envíe el formulario
                filtrarTabla();
                
            filtrarTablaBtn.addEventListener("click", function(event) {
                event.preventDefault();
                event.stopPropagation(); // Evitar que el evento se propague
                filtrarTabla();
            });

            function filtrarTabla(event) {
                var filtro1Value = filtro1.value.toLowerCase();
                var filas = tabla.querySelectorAll("tbody tr.filas");
                //var numFilas = filas.length;
            
                filas.forEach (function(fila) {
                    var celdaFiltro1 = fila.querySelector("td:first-child");
            
                    // Aplicar filtros
                    if (filtro1Value === "" || celdaFiltro1.textContent.toLowerCase().includes(filtro1Value)) {
                        fila.style.display = "";
                    } else {
                        fila.style.display = "none";
                    }
            
                    // Mostrar u ocultar la fila según los criterios de filtrado
                    fila.style.display = mostrarFila ? "" : "none";
                });
            }

            // Cuando se hace clic en el botón, mostrar el modal
            modalBtn.onclick = function() {
                modal.style.display = "block";
            }
            // Cuando se hace clic en <span> (x), cerrar el modal
            modal.getElementsByClassName("close")[0].onclick = function() {
                modal.style.display = "none";
            }
        </script>
        
    </div>


    <div class=" col d-flex justify-content-end align-items-end mb-3">

        <form method="GET">
            <div class="input-group">
                <input type="text" id="search" class="form-control inputApagado" name="q" value="{{ query }}" placeholder="Buscar Articulo...">
                <button class="lupa" type="submit"><span class="material-symbols-outlined">search</span></button>
            </div>
        </form>
                
        <div class="d-flex justify-content-end align-items-end"><a class="botonPrimario" href="{% url 'nuevo_articulo' %}?from_lista=true">Nuevo Articulo</a></div>
    </div>
</div>


    <table class="table table-striped table-hover" id="results" data-bs-theme="light">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Provedor</th>
                <th>Costo</th>
                <th>Desc. %</th>
            </tr>       
        </thead>
        <tbody>
            {% for articulo in articulo %} 
            <tr class="filas">
                <td>{{ articulo.codigo }}</a></td>
                <td><a href="{% url 'detalle_articulo' articulo.id %}">{{ articulo.descripcion }}</a></td>
                <td>{{ articulo.precioVenta }}</a></td>
                <td>{{ articulo.stock }}</td>
                <td>{{ articulo.categoria }}</a></td>
                <td>{{ articulo.proveedor }}</td>
                <td>{{ articulo.costo }}</a></td>
                <td>{{ articulo.descuento }}</td>

                <td class="d-flex justify-content-end align-items-end"><a class="botonTerciario" href="/articulos/articuloModif/{{ articulo.id }}"> Modificar</td>
                <td><a class="botonSecundario" href="/articulos/articuloBorrar/{{ articulo.id }}">Borrar</a></td>
            {% endfor %} 
        </tbody>
    </table>

    <div class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <a class="botonPrimario" href="?page=1">Primera</a>
            <a class="botonPrimario" href="?page={{ page_obj.previous_page_number }}">
                Anterior
            </a>
        {% endif %}
    
        <span class="current-page btn btn-outline-light disabled text-primary mb-3">
            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>
    
        {% if page_obj.has_next %}
            <a class="botonPrimario" href="?page={{ page_obj.next_page_number }}">
                Siguiente
            </a>
            <a class="botonPrimario" href="?page={{ page_obj.paginator.num_pages }}">
                Última
            </a>
        {% endif %}
    </div>

</div>



{% endblock %} 